# Core Framework & UI
streamlit
plotly
streamlit-option-menu

# Data Manipulation & Numerics
pandas
numpy
scikit-learn

# Machine Learning & AI
tensorflow

# Data Source
yfinance

# Text & Sentiment Analysis (Anda menambahkan ini)
nltk
textblob
vaderSentiment

# Utilities & API
requests
python-dotenv  # <-- INI YANG DITAMBAHKAN
